.orderDetailsContainer {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  margin-top: 10rem;
}
.orderDetailsContainer h2 {
  margin: 1rem 0;
  padding-top: 1rem;
}

.userInfo div {
  font-size: 1.2rem;
  line-height: 2rem;
}

.orderDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orderNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderNotFound button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
}
.orderNotFound p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
